###
### General settings
###

# Displayed site name
site_name: fail2ban

# Site URL
site_url: https://fail2ban.github.io/fail2ban

# Theme
theme:
  name: material

###
### Color
###

  palette:

    # Automatic light/dark selection
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode 

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      primary: white
      accent: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: light blue
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

###
### Language
###

  language: en

###
### Logo and icons
###

  # Logo displayed in the top menu
  logo: assets/logo.png
  # Favicon displayed in the navigator tab
  favicon: assets/logo.png

  features:

###
### Navigation
###

    # XHR loading
    - navigation.instant

    # Anchor tracking
    - navigation.tracking

    # Navigation tabs
    - navigation.tabs

    # Section index pages
    - navigation.indexes

    # Anchor following in toc
    - toc.follow

    # Back-to-top button
    - navigation.top


plugins:

  # GRDP compliance
  - privacy
